body {
  background-image: url('../img/Sonny.jpeg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}
h2 {
  color: white;
}
h1 {
  text-align: center;
}
.white {
  color: white;
}
.sidebar {
  width: 30%;
  float: left;
}
.box {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  background-color: rgba(0,0,0,.5);
}
.indent {
  float: left;
  padding: 5px;
}
.highlight {
  background-color: rgb(6, 242, 6);
}
.box2 {
  margin: 12px;
  border: 2px solid black;
  padding: 8px;
  background-color: rgba(0,0,0,.5);
  float: right;

}
img{
  float:right;
  border: 5px solid rgb(6, 242, 6)
}
.bold {
  text-emphasis: 300;
}